.tree {
  width: 100px;
  height: 100px;
  transition: opacity 1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto; /* Centers the sapling and grown trees */
}

.grown-tree {
  opacity: 1;
}

.dead-tree {
  opacity: 0.2;
}
